@using System.Web.Optimization

<script src="~/Scripts/jquery-2.0.3.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.1.js"></script>
<script src="~/signalr/hubs"></script>

<h2>Chatting with Hubs</h2>

<form>
    <label for="Name">Name</label>
    <br />
    <input type="text" id="Name" name="Name" />
    <br />
    <label for="Message">Message</label>
    <br />
    <input type="text" id="Message" name="Message" />
    <br />
    <input id="send" value="send" type="button" />
</form>

<ul id="messages" style="list-style:none;"></ul>

<script>
    $(function () {

        //need reference to chat hub

        //need broadcastMessageHandler

        //need connection start

        //need listener to send button
    });
</script>






