@using System.Web.Optimization

@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/signalR")

<script src="~/signalr/hubs"></script>
<script src="~/Scripts/chatconnection.js"></script>

<h2>Chat</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel();

    <input id="send" value="send" type="button" />
    <ul id="messages" style="list-style:none;"></ul>
}




