
@{
    ViewBag.Title = "Index";
}
@using System.Web.Optimization


@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/kinetic")
@Scripts.Render("~/Scripts/signalR")

<script src="~/signalr/hubs"></script>
<script src="~/Scripts/shapes.js"></script>

<h2>Index</h2>

<div id="container"></div>


