
@{
    ViewBag.Title = "Index";
}
@using System.Web.Optimization


<h1>LRDNUG SignalR Demos</h1>
<ul>
    <li>@Html.ActionLink("Interactive Ball Controller", "Index", "Ball")</li>
    <li>@Html.ActionLink("Chat Hub Controller", "Index", "HubChat")</li>
</ul>
